<div [ngSwitch]="authType">
  <mat-card class="card-container" *ngSwitchCase="'login'">
    <mat-card-content>
      <div class="input-container">
        <mat-form-field class="input-field">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="input-field">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]='password'>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="div-buttons-container">
        <button mat-raised-button color="primary">Log In</button>
        <button mat-button color="primary" (click)="onChangeAuthType()">Create an account?</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-container" *ngSwitchCase="'register'">
    <mat-card-content>
      <div class="input-container">
        <mat-form-field class="input-field">
          <mat-label>username</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="username" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="input-field">
          <mat-label>email address</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="input-field">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]='password'>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

          </button>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="input-field">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]='reTypePassword'>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="div-buttons-container">
        <button mat-raised-button color="primary">Register Account</button>
        <button mat-button color="primary" (click)="onChangeAuthType()">Back to Log In</button>
      </div>
    </mat-card-content>
  </mat-card>


</div>


